name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

# Declare default permissions as read-only.
permissions: read-all

concurrency:
  # On master/release, we don't want any jobs cancelled so the sha is used to name the group
  # On PR branches, we cancel the job if new commits are pushed
  # More info: https://stackoverflow.com/a/68422069/253468
  group: ${{ (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/release' ) && format('ci-main-{0}', github.sha) || format('ci-main-{0}', github.ref) }}
  cancel-in-progress: true

jobs:
  build-test:
    name: Test
    runs-on: ubuntu-latest
    env:
      CENTRAL_PORTAL_USERNAME: ${{ secrets.MAVEN_USER }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 50
          persist-credentials: false
      - name: Checkout qubership-core-base-images
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: Netcracker/qubership-core-base-images
          path: installer/build/git/qubership-core-base-images
          fetch-depth: 50
          persist-credentials: false
      - name: Set up JDK 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: zulu
          java-version: 21
          server-id: central
      - name: Setup Go 1.25
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: '1.25.5'
      - name: Test
        uses: burrunan/gradle-cache-action@663fbad34e03c8f12b27f4999ac46e3d90f87eca # v3
        with:
          multi-cache-enabled: false
          arguments: --scan --no-parallel build
      - name: Publish snapshots
        uses: burrunan/gradle-cache-action@663fbad34e03c8f12b27f4999ac46e3d90f87eca # v3
        if: ${{ env.CENTRAL_PORTAL_USERNAME != '' }}
        with:
          arguments: publishAllPublicationsToCentralSnapshotsRepository
          properties: |
            centralSnapshotsUsername=${{ secrets.MAVEN_USER }}
            centralSnapshotsPassword=${{ secrets.MAVEN_PASSWORD }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
